* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  height: 100px;
  border-bottom: #275470 1px solid;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
}

.navbar ul {
  width: 550px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbarItem {
  font: 18px "lato", sans-serif;
  text-decoration: none;
  color: #275470;
  /* font-weight: bold; */
}

.navbarItem:hover {
  transition: 1s;
  color: red;
  text-decoration: underline;
}

.logo {
  padding-left: 20px;
  color: #fff;
}

.burger div {
  width: 25px;
  height: 5px;
  background-color: #275470;
  margin: 5px;
}

.burger {
  display: none;
}

/* MainPage */
.main-page {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 87.5vh;
  background-image: url("./assets/images/main-page.jpg");
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  /* margin-bottom: 200px; */
}
.main-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.28);
}
.resturant-name {
  padding: 5px;
  margin: 0px;
  text-align: center;
}
.resturant-name h1 {
  margin: 6px;
  color: white;
  font-size: 3em;
  position: relative;
}
.resturant-name p {
  margin: 1.2em;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}
.resturant-name p span {
  opacity: 0;
  animation: text-animate 6s linear forwards;
  position: relative;
}
@keyframes text-animate {
  0% {
    opacity: 0;
    /* filter: blur(5px) */
  }
  /* 50%{
      opacity: 1;
    } */
  100% {
    opacity: 1;
    /* filter: blur(0px) */
  }
}
.resturant-name p span:nth-child(1) {
  animation-delay: 0s;
}
.resturant-name p span:nth-child(2) {
  animation-delay: 0.5s;
}
.resturant-name p span:nth-child(3) {
  animation-delay: 1s;
}
.resturant-name p span:nth-child(4) {
  animation-delay: 1.5s;
}
.resturant-name p span:nth-child(5) {
  animation-delay: 2s;
}
.resturant-name p span:nth-child(6) {
  animation-delay: 2.5s;
}
.resturant-name p span:nth-child(7) {
  animation-delay: 3s;
}

/* - Footer */

.footer {
  height: 80px;
  background-color: #275470;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.footer p {
  padding: 5px;
}

.footer a {
  text-decoration: none;
  color: #bfeced;
}
.footer a:hover {
  text-decoration: none;
  color: #ff0;
}

/* - Content  */
.content-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box-cont {
  margin: 15px 40px;
  display: flex;
  align-items: center;
}

.box-cont img {
  width: 350px;
}

.tapas {
  border-radius: 15px;
}

.new-Pic-class img {
  padding: 5px;
}
.box-cont h3 {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  text-align: center;
  padding: 40px;
}

/* - About */
.about-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
}

.about-container p {
  margin: 10px;
  width: 80%;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: normal;
  font-family: "Helvetica Neue";
}

.about-container h2 {
  margin: 20px;
}

.about-container h1 {
  margin: 20px;
  font-size: 30px;
}

/* -Visit Us  */

.visitUs {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 30px; */
  align-items: center;
}

.visitUs h2 {
  margin-top: 30px;
  font-size: 40px;
  /* padding: 1.3em;; */
}

.contact-container {
  display: flex;
  width: 90vw;
  margin: 30px auto;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  margin: 10px;
}

.contact-info img {
  width: 40px;
  margin-right: 15px;
}

.cont {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cont p {
  font-size: 20px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #000;
}
.resturant-img img {
  width: 340px;
  border-radius: 50%;
}

/* -Gallery */

.gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

.gallery p {
  width: 70%;
  margin: 20px auto;
}
.gallery-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gallery-group img {
  margin: 30px;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

/* - Menu */

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuList img {
  margin: 20px auto;
}
.menuList h2 {
  margin-bottom: 10px;
}

.menu-info {
  display: flex;
  justify-content: space-around;

  align-items: center;
  margin: 0px 25px;
}

.menu-info h3 {
  margin: 0px auto;
  width: 80%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  text-align: center;
}

/* - Slider */

.header {
  /* background-image: url("../../assets/images/12.jpg"); */
  width: 100%;
  height: 80vh;
  color: White;
  font-size: 20px;
  position: relative;
}

.text-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-container {
  position: relative;
  top: 0;
}

.header h1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-family: Monospace;
  text-align: center;
}

.header h3 {
  color: rgb(247, 72, 3);
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.header img {
  width: 100%;
  height: 100%;
}

/* -- map */

.map {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
}

/* -- responsive design */

@media screen and (max-width: 992px) {
  .navbar ul {
    width: 450px;
  }

  .resturant-img img {
    width: 250px;
  }

  .cont p {
    font-size: 15px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-info {
    flex-direction: column;
  }

  .about-container p {
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.8em;
    font-weight: normal;
    text-align: center;
    font-family: "Helvetica Neue";
  }
  .about-text {
    order: 1;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  /* body {
    overflow-x: hidden;
  }

  .navbar ul {
    height: 80vh;
    top: 100px;
    right: 0;
    width: 50%;
    background: #fff;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger {
    display: block;
    margin: 30px;
    cursor: pointer;
  } */

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-cont img {
    width: 300px;
    order: 2;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375;
  }

  .cont {
    margin: 10px;
  }
  .resturant-img img {
    width: 250px;
  }
  .cont p {
    font-size: 20px;
  }

  .footer {
    height: 100px;
    display: flex;
    padding: 10px;
  }
  .footer p {
    text-align: center;
  }

  .about-info img {
    width: 60%;
  }
}
