* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  position: relative;
}

/* - Navbar - */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 100px;
  border-bottom: #275470 1px solid;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
}

.navbar ul {
  width: 550px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbarItem {
  font: 18px "lato", sans-serif;
  text-decoration: none;
  color: #275470;
}

.navbarItem:hover {
  transition: 1s;
  color: red;
  text-decoration: underline;
}

.navbar-container img {
  width: 150px;
}

.burger div {
  width: 25px;
  height: 5px;
  background-color: #275470;
  margin: 5px;
}

.burger {
  display: none;
}

.button {
  width: 60px;
  height: 30px;
  position: fixed;
  top: 50%;
  z-index: 1;
  right: 0;
  font-size: 16px;
}

/* MainPage */
.main-page {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 87.5vh;
  background-image: url("./assets/images/main-page.jpg");
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  /* margin-bottom: 200px; */
}
.main-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.28);
}
.resturant-name {
  padding: 5px;
  margin: 0px;
  text-align: center;
}
.resturant-name h1 {
  margin: 6px;
  color: white;
  font-size: 3em;
  position: relative;
}
.resturant-name p {
  margin: 1.2em;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}
.resturant-name p span {
  opacity: 0;
  animation: text-animate 6s linear forwards;
  position: relative;
}
@keyframes text-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.resturant-name p span:nth-child(1) {
  animation-delay: 0s;
}
.resturant-name p span:nth-child(2) {
  animation-delay: 0.5s;
}
.resturant-name p span:nth-child(3) {
  animation-delay: 1s;
}
.resturant-name p span:nth-child(4) {
  animation-delay: 1.5s;
}
.resturant-name p span:nth-child(5) {
  animation-delay: 2s;
}
.resturant-name p span:nth-child(6) {
  animation-delay: 2.5s;
}
.resturant-name p span:nth-child(7) {
  animation-delay: 3s;
}

/* - Footer - */

.footer {
  height: 80px;
  background-color: #275470;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.footer p {
  padding: 5px;
}

.footer a {
  text-decoration: none;
  color: #bfeced;
}
.footer a:hover {
  text-decoration: none;
  color: #ff0;
}

/* - Content  */
.content-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box-cont {
  margin: 35px 40px;
}

.box-cont img {
  width: 350px;
}

.tapas {
  overflow: hidden;
  border-radius: 15px;
}

.tapas img {
  transform: scale(1.1);
  width: 350px;
  height: 350px;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
}

.tapas:hover img {
  transform: scale(1.2);
}

.new-Pic-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.new-Pic-class img {
  padding: 5px;
  width: 350px;
  height: 350px;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
}

.new-Pic-class img:hover {
  transform: scale(1.2);
}

.box-cont p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  line-height: 1.5em;
}



/* - About- */
.about-container {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
}

.about-container p {
  margin: 10px;
  width: 80%;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: normal;
  font-family: "Helvetica Neue";
}

.about-container h3 {
  margin: 30px;
  font-size: 20px;
}

.about-container h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

/* -Visit Us-  */

.visitUs {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visitUs h2 {
  font-size: 30px;
}

.visitUs p {
  margin-top: 10px;
  font-size: 20px;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 30px;
  justify-content: space-around;
  align-items: center;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-info {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: flex-start;
}

.contact-info img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.contact-info p {
  font-size: 30px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

.resturant-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.resturant-img img {
  width: 100%;
  border-radius: 50%;
}

/* -Gallery- */

.gallery {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: white;
}
.gallery h2 {
  font-size: 30px;
}

.gallery p {
  width: 70%;
  margin: 20px auto;
}
.gallery-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-group img {
  margin: 30px;
  width: calc( 80% / 3);
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 30px 10px -20px #142c3a;
}

/* - Menu - */

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuList img {
  margin: 20px auto;
}
.menuList h2 {
  margin-bottom: 10px;
}

.menu-info {
  display: flex;
  justify-content: space-around;

  align-items: center;
  margin: 0px 25px;
}

.menu-info h3 {
  margin: 0px auto;
  width: 80%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  text-align: center;
}

/* - Slider - */

.header {
  width: 100%;
  height: 80vh;
  color: White;
  font-size: 20px;
  position: relative;
}

.text-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-container {
  position: relative;
  top: 0;
}

.header h1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-family: Monospace;
  text-align: center;
}

.header h3 {
  color: rgb(247, 72, 3);
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.header img {
  width: 100%;
  height: 100%;
}

/* -- map -- */

.map-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
}
.map {
  border: none;
  margin: 5px;
}

/* -- responsive design -- */

@media screen and (max-width: 992px) {
  .navbar ul {
    width: 450px;
  }

  .resturant-img img {
    width: 250px;
  }

  .contact-info p {
    font-size: 15px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-info {
    flex-direction: column;
  }

  .about-container p {
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.8em;
    font-weight: normal;
    text-align: center;
    font-family: "Helvetica Neue";
  }
  .about-text {
    order: 1;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  /* Gallery */
  .gallery-group img{
    width:60%;
  }
}

@media screen and (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box-cont {
    text-align: center;
  }

  .box-cont img {
    width: 300px;
    order: 2;
  }

  .navbar-container img {
    width: 100px;
  }
  .cont {
    margin: 10px;
  }

  .resturant-img img {
    width: 250px;
  }

  .contact-info p {
    font-size: 20px;
  }

  /* Gallery */
  .gallery-group img{
    width: 70%;
  }

  .footer {
    height: 100px;
    display: flex;
    padding: 10px;
  }
  .footer p {
    text-align: center;
  }

  .about-info img {
    width: 60%;
  }

  .tapas {

  }
  .new-Pic-class img,
  .tapas img {
    width: 250px;
    height: 250px;
  }

  .visitUs p {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .navbar ul {
    width: 350px;
  }

  .navbarItem {
    font: 15px "lato", sans-serif;
    color: #275470;
  }

  .contact-info p {
    font-size: 16px;
  }
}
